<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">
<!--
/**=====================================================================
 * Name: EmployeeCommunity_ConneX_FAQs
 * Description: This is the FAQs page for the ConneX Employee Community
 *              
 * Created Date: June 9th 2016
 * Created By: Alexander McCall
 *
 * Date Modified         Modified By           Description of the update
 * June 27th, 2016       Alexander McCall      Case #02467468 ConneX Community FAQ updates
 * 
 * =====================================================================*/
-->
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <apex:stylesheet value="{!URLFOR($Resource.GEARR_Res1, '/assets/css/main.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
  

<style>
#banner {
        padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url('{!URLFOR($Resource.GEARR_Res1, '/images1/gearrProcessV8.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcecd;
    }

ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS a {
  color:#0070d2;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
   section.textformatGEARR {
      font-size:1.25em;
  }
  .experianSLDS td {
      text-align:center;
      background-color:white;
      font-size:16px;
      padding-top:2px;
      padding-bottom:2px;
  }
  
  #page-wrapper {
    padding-top:0px;
    font-size:12px;
  }
  
  #page-wrapper ul li {
    margin:0;
    padding:0;
  }
  
  #navPanel, #navButton {
    display:none !important;
  }
  
  input[type="submit"].special, input[type="reset"].special, input[type="button"].special, .button.special {
        //background-color: rgb(0, 171, 170) !important;
        background-image:none;
        line-height:3em;
        display:block;
        padding: 0 1.25em;
  }
  
   input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, .button.special:hover {
        //background-color: #f99e79;
        background-image:none;
   }
   
   body .x-btn button, body .btn, body .btnImportant, body .btnDisabled, body .btnCancel, body .menuButton .menuButtonButton, body .menuButton .menuButtonMenu a, body .menuButton .menuButtonMenu input.theOption, h1, h2, h3, h4, h5, h6 {
   font-family:"Salesforce Sans", Arial, sans-serif;
   display:block;
   font-weight:normal;
   }
</style>

</HEAD>
<!-- REQUIRED SLDS WRAPPER -->
<div class="experianSLDS">
    <div class="landing">

        <!-- Header -->
            <div id="" >
            
             
             
  <div >
      <!--Template-->
    <apex:composition template="expcomm_newTemplate">
        <apex:define name="item1">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="{!$Site.Prefix}/apex/EmployeeCommunity_ConneX_Home" class="slds-text-heading--small">ConneX Home</a></li>
        </apex:define>
        
        <apex:define name="item2">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="{!$Site.Prefix}/apex/EmployeeCommunity_ConneX_Resources" class="slds-text-heading--small">Resources</a></li>
        </apex:define>
        
        <apex:define name="item3">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="{!$Site.Prefix}/apex/EmployeeCommunity_ConneX_FAQs" class="slds-text-heading--small">FAQs</a></li>
        </apex:define>
        
        <apex:define name="item4">
            <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
            <a href="https://experian.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li>
           <!-- RJ Updated with Summer 17 <a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li> -->
        </apex:define>
    </apex:composition>
    <!--Template-->

</div>
            </div>
             

        <!-- Page Wrapper -->
            <div id="page-wrapper">
            
                <!-- Main-->
                <style>
                .collapse{display:none}
                  .collapse.in{display:block}
                  tr.collapse.in{display:table-row}
                  tbody.collapse.in{display:table-row-group}
                  .collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-property:height,visibility;-o-transition-property:height,visibility;transition-property:height,visibility}
                  .glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
                  .glyphicon-collapse-down:before{content:"&#x2228;"}
                  .glyphicon-collapse-up:before{content:"&#x2227;"}
                  .btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
                  .btn-success.focus,
                  .btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}
                  .btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}
                  .btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}
                  .btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled.focus,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled].focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#5cb85c;border-color:#4cae4c}.btn-success .badge{color:#5cb85c;background-color:#fff}
                  </style>
                  
                  <script>
                $(document).ready(function(){
                  $("#demo").on("hide.bs.collapse", function(){
                    $("#q").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. What\'s happening and why?');
                  });
                  $("#demo").on("show.bs.collapse", function(){
                    $("#q").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. What\'s happening and why?');
                  });
                  
                  $("#demo1").on("hide.bs.collapse", function(){
                    $("#q1").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. When are the changes taking place?');
                  });
                  $("#demo1").on("show.bs.collapse", function(){
                    $("#q1").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. When are the changes taking place?');
                  });
                  
                 <!-- $("#demo2").on("hide.bs.collapse", function(){
                    $("#q2").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  What are the benefits for clients, employees and the business?');
                  });
                  $("#demo2").on("show.bs.collapse", function(){
                    $("#q2").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span>Q.  What are the benefits for clients, employees and the business?');
                  });-->
                  
                  $("#demo3").on("hide.bs.collapse", function(){
                    $("#q3").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. Why is this so important?');
                  });
                  $("#demo3").on("show.bs.collapse", function(){
                    $("#q3").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. Why is this so important?');
                  });
                  
                  $("#demo4").on("hide.bs.collapse", function(){
                    $("#q4").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. When can I get involved?');
                  });
                  $("#demo4").on("show.bs.collapse", function(){
                    $("#q4").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. When can I get involved?');
                  });
                  
                  $("#demo5").on("hide.bs.collapse", function(){
                    $("#q5").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. What will be different for me?');
                  });
                  $("#demo5").on("show.bs.collapse", function(){
                    $("#q5").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. What will be different for me?');
                  });
                  
                  $("#demo6").on("hide.bs.collapse", function(){
                    $("#q6").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. What will be different for our clients?');
                  });
                  $("#demo6").on("show.bs.collapse", function(){
                    $("#q6").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. What will be different for our clients?');
                  });
                  
                  $("#demo7").on("hide.bs.collapse", function(){
                    $("#q7").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. Does this just impact our IT team? ');
                  });
                  $("#demo7").on("show.bs.collapse", function(){
                    $("#q7").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. Does this just impact our IT team? ');
                  });
                  
                  $("#demo8").on("hide.bs.collapse", function(){
                    $("#q8").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. How will training be delivered?');
                  });
                  $("#demo8").on("show.bs.collapse", function(){
                    $("#q8").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. How will training be delivered?');
                  });
                  
                  $("#demo9").on("hide.bs.collapse", function(){
                    $("#q9").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. When will training be available?');
                  });
                  $("#demo9").on("show.bs.collapse", function(){
                    $("#q9").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. When will training be available?');
                  });
                  
                  $("#demo10").on("hide.bs.collapse", function(){
                    $("#q10").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. How would you explain Service Central to your grandmother?');
                  });
                  $("#demo10").on("show.bs.collapse", function(){
                    $("#q10").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. How would you explain Service Central to your grandmother?');
                  });
                  
                  $("#demo11").on("hide.bs.collapse", function(){
                    $("#q11").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. Have any other companies gone through changes like this, and if so are we leveraging best practice? ');
                  });
                  $("#demo11").on("show.bs.collapse", function(){
                    $("#q11").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. Have any other companies gone through changes like this, and if so are we leveraging best practice? ');
                  });
                  
                  $("#demo12").on("hide.bs.collapse", function(){
                    $("#q12").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. Where can I find out more information about Service Central?');
                  });
                  $("#demo12").on("show.bs.collapse", function(){
                    $("#q12").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. Where can I find out more information about Service Central?');
                  });
                  
                  $("#demo13").on("hide.bs.collapse", function(){
                    $("#q13").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. What\’s an Employee Community? ');
                  });
                  $("#demo13").on("show.bs.collapse", function(){
                    $("#q13").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. What\’s an Employee Community? ');
                  });
                  
                  $("#demo14").on("hide.bs.collapse", function(){
                    $("#q14").html('<span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span> Q. I\’ve got a question that\’s not been answered here. Who can I ask?');
                  });
                  $("#demo14").on("show.bs.collapse", function(){
                    $("#q14").html('<span class="glyphicon glyphicon-collapse-up" style="float:right;padding-right: 5px;"></span> Q. I\’ve got a question that\’s not been answered here. Who can I ask?');
                  });
                });
            </script>
                    <div id="main" class="wrapper style3">
                        <div class="container">
                            <header class="major" style="font-size:1.9em;">
                                <h2>Frequently Asked Questions (FAQs)</h2>
                            </header>
                            
                                           <!--===================================Overview============================-->
                               
                               <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                
                                    <h1 style="color:#a11881;font-size:16px;">Overview</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q" class="btn btn-success"  data-toggle="collapse" data-target="#demo" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. What is ConneX?</a>
                                        </div>
                                        <div id="demo" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">ConneX is the name of the new Helpdesk and desktop experience with new features, benefits and improved service levels that will launch starting on 28 June 2017</p>
                                         </div>
                                    </div>                                                                     
                                    
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q1" class="btn btn-success"  data-toggle="collapse" data-target="#demo1" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Why are we transitioning to a new Helpdesk and desktop services, and how will it work? </a>
                                        </div>
                                        <div id="demo1" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">We are transitioning support services to a new provider, HCL, that delivers agile support, which will enable the Experian business to continue to grow. Additionally, we have listened to your feedback regarding the current challenges you experience with today’s services, and are confident HCL will provide a support model that addresses those key pain points.   </p>
                                         </div>
                                    </div>
                                    
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q2" class="btn btn-success"  data-toggle="collapse" data-target="#demo2" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Who is HCL?</a>
                                        </div>
                                        <div id="demo2" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;"><a href="http://www.hcl.com/" >HCL Technologies</a> is a global services company that provides technology solutions and services including infrastructure management, application development, BPO and engineering and R&amp;D services. We will be working primarily with their IT Infrastructure Services group to provide end user computing support and Helpdesk services. </p>
                                         </div>
                                    </div>  
                                    
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q3" class="btn btn-success"  data-toggle="collapse" data-target="#demo3" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Does this mean I’ll get a new computer/laptop?</a>
                                        </div>
                                        <div id="demo3" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">No, hardware and service contracts are separate. The hardware contract with Dell is still in place and the existing refresh schedule will continue. It is only the service elements supported by NTT Data (Previously known as Dell) that will change. For any hardware related issues, you should still contact the Helpdesk.</p>
                                         </div>
                                    </div>    
                                    
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q4" class="btn btn-success"  data-toggle="collapse" data-target="#demo4" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Will the new helpdesk provider look at boot up times as it takes ages for my PC to start up?</a>
                                        </div>
                                        <div id="demo4" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Yes! Once everything has been transitioned to the new provider and is running smoothly, we, along with Security, will be looking at ways to improve boot times for our end users.</p>
                                         </div>
                                    </div>                                                                    
                            </div> 
                            
                                      <!--====================================================Timescales====================== -->                          

                            <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">

                                    <h1 style="color:#a11881;font-size:16px;"><br/><br/>Timescales</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q5" class="btn btn-success"  data-toggle="collapse" data-target="#demo5" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. When is the transition going to happen?</a>
                                        </div>
                                        <div id="demo5" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">In phase 1, current integrated business units in North America, including Chile and Costa Rica, UK&amp;I, EMEA and India moved over to the new Helpdesk and desktop services from <u>28 June 2017</u>. Non-integrated business units are outside the scope for the phase 1 transition. In subsequent phases, the service will roll out to Spanish LATAM, LATAM, APAC and remaining non-integrated business units.</p>
                                         </div>
                                    </div>   
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q6" class="btn btn-success"  data-toggle="collapse" data-target="#demo6" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. How will I stay up to date on what I need to know during the transition?</a>
                                        </div>
                                        <div id="demo6" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">The central source of information about the transition can be found on the <a href="/apex/EmployeeCommunity_ConneX_Home" >ConneX Employee Community</a>. <br/><br/>You can also find updates and ask questions in the <a href="/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa">ConneX Chatter Group</a>.<br/>

                                            <br/>During the week of the transition go-live (26 June – 30 June), you can speak with someone face to face at ConneX Cafes in our largest offices.
                                            
                                            You will also be receiving regular updates and communications about the transition through your local channels. <br/>
                                            </p>
                                         </div>
                                    </div>   
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q7" class="btn btn-success"  data-toggle="collapse" data-target="#demo7" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. What dates are the ConneX (IT) Cafes taking place and where?</a>
                                        </div>
                                        <div id="demo7" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">The ConneX Cafes will take place for the entire week of 26 June – 30 June at the following locations.
                                                <br/><br/>
                                                <table>
                                                <tr>
                                                    <td>
                                                        <strong>ConneX cafes</strong>
                                                    </td>
                                                    <td>
                                                        <strong>Location in Office</strong>
                                                    </td>
                                                    <td>
                                                        <strong>Dates</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Allen
                                                    </td>
                                                    <td>
                                                        Cafe
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Cardinal Place
                                                    </td>
                                                    <td>
                                                        The Park
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Chile
                                                    </td>
                                                    <td>
                                                        Near the elevators
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Costa Mesa
                                                    </td>
                                                    <td>
                                                        Cafe
                                                    </td>
                                                    <td>
                                                        26 June - 7 July
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Costa Rica
                                                    </td>
                                                    <td>
                                                       Breakroom 
                                                    </td>
                                                    <td>
                                                        26 June - 7 July
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Fairham House
                                                    </td>
                                                    <td>
                                                        Restaurant
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        George West House
                                                    </td>
                                                    <td>
                                                        The Q Bar
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Riverleen House
                                                    </td>
                                                    <td>
                                                        Restaurant
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Schaumburg
                                                    </td>
                                                    <td>
                                                        Cafe
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Sir John Peace Building
                                                    </td>
                                                    <td>
                                                        Restaurant
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Sofia, Bulgaria
                                                    </td>
                                                    <td>
                                                        10th Floor
                                                    </td>
                                                    <td>
                                                        26 June - 30 June
                                                    </td>
                                                </tr>                                               
                                            </table>
                                            </p>
                                         </div>
                                    </div>  
                                    <br/><br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q22" class="btn btn-success"  data-toggle="collapse" data-target="#demo22" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. How were the locations for the ConneX (IT) Cafés chosen?</a>
                                        </div>
                                        <div id="demo22" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">The ConneX cafés are taking place in the largest Experian offices where the IT clinics are always the busiest.</p>
                                         </div>
                                    </div>                                                                    
                            </div>
                            
                                   <!--=========================================Changes====================================-->
                           
                          <!-- <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">

                                    <h1 style="color:#a11881;font-size:16px;"><br/><br/>Changes</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q2" class="btn btn-success"  data-toggle="collapse" data-target="#demo2" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Does this mean I’ll get a new computer/laptop?</a>
                                        </div>
                                        <div id="demo2" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">No, hardware and service contracts are separate. The hardware contract with Dell is still in place and the existing refresh schedule will continue. It is only the service elements supported by NTT Data (Previously known as Dell) that will change.</p>
                                         </div>
                                    </div>                                                                    
                            </div> 

                            <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">

                                    <!--<h1 style="color:red">Benefits</h1> <br/>-->
                                   <!--
                                    <div class="container">
                                        <div class="header">
                                            <a id="q3" class="btn btn-success"  data-toggle="collapse" data-target="#demo3" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:rgb(0, 171, 170);font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Why is this so important?</a>
                                        </div>
                                        <div id="demo3" class="collapse">
                                            <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Experian has grown both organically and via acquisitions, which has led to disparate tools and processes across our organisation. This means that in a lot of places we’re unnecessarily complex. It’s challenging for us to manage, and means an inconsistent service to our customers. This program will enable us to have one platform ’one stop shop’ that we use globally which will make us more efficient and consistent in the way we operate as a business and serve our clients.<br/><br/></p>
                                         </div>
                                    </div>                                                                     
                            </div> -->
                            
                     <!--======================================Help Desk====================================================================-->
                           
                            <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                 <h1 style="color:#a11881;font-size:16px;"><br/><br/>Help Desk</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q8" class="btn btn-success"  data-toggle="collapse" data-target="#demo8" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Will I call a different phone number when I need to access the Help Desk?  </a>
                                        </div>
                                        <div id="demo8" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Yes, from on 28 June all regions will dial the same global internal number to call the Helpdesk:
                                        <br/>Internal Number - 5555555<br/>
                                        <br/>Watch out for giveaways reminding you of our new internal number at the ConneX Cafés and at our other offices.<br/>
                                        <br/><strong>External Numbers:</strong>
                                        <br/>UK&amp;I and EMEA – +44 (0)115 955 5555
                                        <br/>US – 866 443 5799
                                        <br/>Costa Rica – 800 39737426
                                        <br/>Chile – 56228345486
                                        <br/>India – 00441159555555 
                                        <br/>
                                        <br/>You can also email the Helpdesk using Helpdesk.Services@experian.com 
                                        </p>
                                      
                                         </div>
                                    </div>                                                                     
                            </div>                                      
                       
                          <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q9" class="btn btn-success" data-toggle="collapse" data-target="#demo9" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Will I have other ways to get help beyond calling the or emailing them?  </a>
                                        </div>
                                        <div id="demo9" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Yes, as part of the new service, we’re introducing a new tool called OptiBot in August. This has a chat function, which will allow you to chat directly with a Service Desk agent using Lync or Skype for Business. More information and training on how to use OptiBot, in addition to other features it will provide, will be provided as we get closer to the go-live. </p>
    
                                         </div>
                                    </div>                                                                     
                            </div>      

                        <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">

                                     <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q10" class="btn btn-success"  data-toggle="collapse" data-target="#demo10" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Will I be speaking with local staff when I call the Help Desk? </a>
                                        </div>
                                        <div id="demo10" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">It depends on your location. HCL will provide services as follows; American English will be supported out of Carry, North Carolina, US. British English will be supported from Chennai in India and European languages will be supported from Krakow in Poland.</p>
    
                                         </div>
                                    </div>   
                                </div>                                                                  
                         <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">  
                                     <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q11" class="btn btn-success" data-toggle="collapse" data-target="#demo11" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  How will the new Help Desk Services be integrated with our Service Central tool? </a>
                                        </div>
                                        <div id="demo11" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">The new services have been fully integrated into the Service Now platform, part of Service Central. All incident tickets and change requests use the platform as well as back office tools like asset management databases.</p>
 
                                         </div>
                                    </div> 
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q12" class="btn btn-success" data-toggle="collapse" data-target="#demo12" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Will the old Helpdesk numbers still work, for how long? </a>
                                        </div>
                                        <div id="demo12" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Yes, the old internal Helpdesk numbers will still work for a period of time. More details will be provided at a later date.</p>
 
                                         </div>
                                    </div>   
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q13" class="btn btn-success" data-toggle="collapse" data-target="#demo13" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  What number will I call if I’m ringing from outside Experian, e.g. from home or my mobile? </a>
                                        </div>
                                        <div id="demo13" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Only the internal number is changing – to 5555555. The external numbers are the same as you’re using today:
                                         <br/>- UK&amp;I and EMEA – +44 (0)115 955 5555
                                            <br/>- US – 866 443 5799
                                            <br/>- Costa Rica – 800 39737426
                                            <br/>- Chile – 56228345486
                                            <br/>- India – TBC
                                            </p>
 
                                         </div>
                                    </div>
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q14" class="btn btn-success" data-toggle="collapse" data-target="#demo14" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  What hours will the Helpdesk offer support from 28 June 2017?</a>
                                        </div>
                                        <div id="demo14" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">
                                         - 7am until 8pm - Central Time, NA  
                                            <br/>- 8am until 5pm - Local time, EMEA
                                            <br/>- 7am until 7pm - Local time, UK&amp;I                                           
                                            </p>
 
                                         </div>
                                    </div>                                                                               
                            </div>  

                    <!-- <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q9" class="btn btn-success"  data-toggle="collapse" data-target="#demo9" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:rgb(0, 171, 170);font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. When will training be available?</a>
                                        </div>
                                        <div id="demo9" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Watch out for more information over the coming months about training opportunities.<br/><br/></p>
 
                                         </div>
                                    </div>                                                                     
                            </div>  -->
                            
                               <!--=============================OPTIBOT============================================-->
                               
                      <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    
                                    <h1 style="color:#a11881;font-size:16px;"><br/><br/>OptiBot</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                            <a id="q15" class="btn btn-success" data-toggle="collapse" data-target="#demo15" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  What’s an OptiBot? </a>
                                        </div>
                                        <div id="demo15" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">OptiBot is a new app that we’re introducing that will allow you to access self-service functions straight from your desktop:
                                       <br/>- Self Help – Automated issue resolution
                                       <br/>- Chat – online service where you can chat directly with a Service Desk agent using Lync or Skype for Business.</p>
                                     
                                         </div>
                                    </div>  
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q16" class="btn btn-success" data-toggle="collapse" data-target="#demo16" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Why is it called OptiBot? </a>
                                        </div>
                                        <div id="demo16" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">OptiBot is the trademark name of the software provided by our new desktop services partner, HCL.
                                            </p>
 
                                         </div>
                                    </div>  
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q17" class="btn btn-success" data-toggle="collapse" data-target="#demo17" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Will the OptiBot be available as an app on mobile devices too, e.g. mobile phones, tablets?</a>
                                        </div>
                                        <div id="demo17" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">No, it will be available on Experian laptops/desktops only.
                                            </p>
 
                                         </div>
                                    </div>  
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q18" class="btn btn-success" data-toggle="collapse" data-target="#demo18" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Do I have to do anything to get the OptiBot onto my PC, or will it just happen automatically?</a>
                                        </div>
                                        <div id="demo18" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">It will happen automatically when we roll out the new app.
                                            </p>
 
                                         </div>
                                    </div>  
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q19" class="btn btn-success" data-toggle="collapse" data-target="#demo19" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q.  Will the new OptiBot app run constantly in the background on my PC? If so, will it slow down my machine?</a>
                                        </div>
                                        <div id="demo19" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">The OptiBot app utilizes a very small portion of CPU, and should not slow down your machine.
                                            </p>
 
                                         </div>
                                    </div>                                                                       
                            </div>  
    
                        <!-- <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q11" class="btn btn-success"  data-toggle="collapse" data-target="#demo11" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:rgb(0, 171, 170);font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Have any other companies gone through changes like this, and if so are we leveraging best practice?</a>
                                        </div>
                                        <div id="demo11" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Yes, many companies have gone through transformation programmes such as this one. In the early stages of the programme we did seek some advice and guidance from the Royal Bank of Scotland who has gone through similar exercise, and that’s proven to be very useful. As well, we’re sharing what we’re doing with Virgin Money, one of our clients in the UK&amp;I region.<br/><br/></p>
 
                                         </div>
                                    </div>                                                                     
                            </div>      -->
                            
                         <!--====================================More info======================================-->

                           <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">

                                    <h1 style="color:#a11881;font-size:16px;"><br/><br/>More information</h1> <br/>
                                    
                                    <div class="container">
                                        <div class="header">
                                           <a id="q20" class="btn btn-success"  data-toggle="collapse" data-target="#demo20" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. Who should I contact if I have any questions? </a>
                                        </div>
                                        <div id="demo20" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Please visit our <a href="/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa">ConneX Chatter Group</a> and post your questions. One of our support team will get back to you as soon as they can.
                                        <br/><br/>You can also email any questions to DesktopServiceTransition@experian.com. 
                                        <br/><br/>During the week of the transition go-live (26 June – 30 June), you can speak with someone face to face at ConneX Cafes in our largest offices. 
                                        <br/><br/>If you’re based in North America, you can also speak with a member of the Super User group listed below:
                                        <br/><br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <strong>Name</strong>
                                                </td>
                                                <td>
                                                    <strong>Office Location</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Brandy Currence
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Laurel Moen Gougler
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Johnny Hubbard
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Rick Thompson
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Dan Hegarty
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Steve Hester
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    David Kropp
                                                </td>
                                                <td>
                                                    Allen, TX
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td>
                                                    Carol Urton
                                                </td>
                                                <td>
                                                    Austin, TX
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Ariel Benzakein
                                                </td>
                                                <td>
                                                    Boston, MA
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Greg Olson
                                                </td>
                                                <td>
                                                    Costa Mesa, CA
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Lori Morrissette
                                                </td>
                                                <td>
                                                    Costa Mesa, CA
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Michael Pham
                                                </td>
                                                <td>
                                                    Costa Mesa, CA
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Randi Mackowiak
                                                </td>
                                                <td>
                                                    Costa Mesa, CA
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Bill Corwin
                                                </td>
                                                <td>
                                                    Costa Mesa, CA
                                                </td>
                                            </tr>                                                                         
                                        </table>

                                         </p>
                                         </div>
                                    </div>                                                                     
                            </div> 

                        <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q21" class="btn btn-success"  data-toggle="collapse" data-target="#demo21" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:#982881;font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. I’m not based at a location where a ConneX café is taking place. How can I ask a question?</a>
                                        </div>
                                        <div id="demo21" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">You can still visit our <a href="/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa">ConneX Chatter Group</a> and post your questions, or email any questions to DesktopServiceTransition@experian.com </p>
 
                                         </div>
                                    </div>                                                                     
                            </div> 

                            <!--
                       <div style="padding-top:0px;" class="right-wrapper__child chatter section__row slds-size--1-of-1 table--display">
                                    <br/><br/>
                                    <div class="container">
                                        <div class="header">
                                            <a id="q14" class="btn btn-success"  data-toggle="collapse" data-target="#demo14" style="text-decoration:None;display:block;width:95%;text-align:left;color:white;background:rgb(0, 171, 170);font-size:16px;padding-left:5px;"><span class="glyphicon glyphicon-collapse-down" style="float:right;padding-right: 5px;"></span>Q. I’ve got a question that’s not been answered here. Who can I ask?</a>
                                        </div>
                                        <div id="demo14" class="collapse">
                                       <p style="width:95%;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-size: 14px;line-height:1.5;">Post any questions on the <b>Service Central</b> <a href="{!$Label.InternalURL}_ui/core/chatter/groups/GroupProfilePage?g={!$Setup.Custom_Fields_Ids__c.Service_Central_Chatter_Group__c}" target="_blank">Chatter group</a> and one of the programme team will answer them as soon as they can<br/><br/></p>
 
                                         </div>
                                    </div>                                                                     
                            </div> -->

                      </div>
                    </div>
            <!-- Footer -->
               <!-- Footer -->

                <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>



            </div>

         <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/jquery.dropotron.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/skel.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/util.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.GEARR_Res1, '/assets/js/main.js')}"/ >
 
    </div>
    </div>
</html>
</apex:page>