<!--
/**=====================================================================
 * Experian
 * Name: NominationView
 * Description: 
 * Created Date: 4 Oct 2016
 * Created By: Paul Kissick
 *
 * Date Modified      Modified By           Description of the update
 * Nov 1 2016         Paul Kissick          Added Rejection Reasons to Downgrading Dialogs
 * Nov 2 2016         Paul Kissick          W-006331: Added Category__c field
 * Nov 16 2016        Paul Kissick          I-417 - Fixed issue of spot award not saving. Replaced Nomination__c. with currentRecord. on inputfield's
 * Jun 30 2017        Manish Singh          Case #02405714 - Added a popup on the approve button for spot rewards    
 * 25 Jul 2017        Manish Singh          Case #02294471 - Added an exception on approve button to allow Recognition Coordinators to approve L2 and L3 awards 
 * =====================================================================*/
 -->
<apex:page standardController="Nomination__c" title="{!Nomination__c.Name} - One Experian Recognition" docType="html-5.0" extensions="NominationViewExt,NominationHelper"><!--  showHeader="false"> -->
  <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <apex:stylesheet value="{!URLFOR($Resource.Bootstrap337, 'css/bootstrap-ns.min.css')}" />
  <apex:includeScript value="{!$Resource.jquery_1_12_4}" />
  <script>
    var $j = jQuery.noConflict();
  </script>
  <style>
   .egc {
      font-family: "Roboto", Helvetica, Arial, sans-serif!important;
   }
    
    .panel > .panel-heading {
      background-color: #406eb3 !important;
      color: #fff !important;
    } 
    .panel > .panel-pending-approval {
      background-color: #ba2f7d !important;
      color: #fff !important;
    }
    .userPhoto {
      width: 48px;
      height: 48px;
    }
    .experianDarkBlue {
      background-color: #26478d !important;
      border-color: #1e315a !important;
      color: #fff !important;
    }
    .experianLightBlue {
      background-color: #406eb3 !important;
      color: #fff !important;
    }
    .experianViolet {
      background-color: #632678 !important;
      color: #fff !important;
    }
    .experianPurple {
      background-color: #982881 !important;
      color: #fff !important;
    }
    .experianPink {
      background-color: #ba2f7d !important;
      border-color: #8e2f64 !important;
      color: #fff !important;
    }
    .experianGreen {
      background-color: #b6bd0d !important;
      border-color: #848a04 !important;
      color: #fff !important;
    }
    .exp-btn-group > input {
      margin-right: 5px;
    }
  </style>
  <apex:includeScript value="{!URLFOR($Resource.Bootstrap337, 'js/bootstrap.min.js')}" />
  <apex:form rendered="{!$ObjectType.Nomination__c.accessible}" >
    <apex:actionFunction name="submitReject" action="{!rejectNomination}" />
    <apex:actionFunction name="submitApprove" action="{!approveNomination}" />
    <apex:actionFunction name="submitRejectWithBadge" action="{!rejectWithBadge}" />
    <apex:actionFunction name="submitDowngradeToLevel2" action="{!downgradeToLevel2}" />
    <apex:actionFunction name="submitDowngradeTeamToLevel2" action="{!downgradeTeamToLevel2}" />
    <apex:inputHidden id="rejectReason" value="{!Nomination__c.Rejection_Reason__c}" />
    <apex:inputHidden id="rejectNotes" value="{!Nomination__c.Notes__c}" />
  <div class="egc container-fluid ">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header" style="margin-top: 20px;">
          <div class="media media-middle">
            <div class="pull-left">
              <img class="media-object" src="/img/icon/custom51_100/shield64.png" alt="{!$ObjectType.Nomination__c.labelPlural}" />
            </div>
            <div class="media-body">
              <h5><strong>{!Nomination__c.Type__c}</strong></h5><br />
              <h2><apex:outputText rendered="{!AND(Nomination__c.Project_Sponsor__c != null, Nomination__c.Master_Nomination__c == null)}" value="{!$ObjectType.Nomination__c.fields.Project_Sponsor__c.label}: {!Nomination__c.Project_Sponsor__r.Name}" />
              <apex:outputText rendered="{!NOT(AND(Nomination__c.Project_Sponsor__c != null, Nomination__c.Master_Nomination__c == null))}" value="{!Nomination__c.Nominee__r.Name}" /></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 ">
        <a href="{!URLFOR($Action.Nomination__c.Tab,$ObjectType.Nomination__c)}">Back to Home Page</a><!-- TODO: Change to label -->
      </div>
      <div class="col-sm-9">
        <!-- <div class="btn-group " role="group" aria-label="">-->
        <div class="exp-btn-group">
          <!-- TODO: Change 'Edit' below to label -->
          <apex:commandButton value="Edit" 
            action="{!edit}" 
            styleClass="btn btn-default" 
            rendered="{!OR($Permission.Administration_Profile,$Permission.Recognition_Data_Admin,$Permission.Recognition_Coordinator)}"
            alt="Edit"
            title="Edit"
          /><!--  $Permission.Recognition_Coordinator, -->
          <!-- TODO: Change 'Delete' below to label -->
          <apex:commandButton value="Delete" 
            action="{!delete}" 
            styleClass="btn btn-default"
            rendered="{!$Permission.Administration_Profile}"
            alt="Delete"
            title="Delete"
            onclick="return confirm('Are you sure?');"
          />
          <apex:commandButton value="Sharing" 
            styleClass="btn btn-default"
            rendered="{!$Permission.Administration_Profile}"
            onclick="window.open('/p/share/CustomObjectSharingDetail?parentId={!Nomination__c.Id}'); return false;"
          />
          <!-- TODO: Change 'Approve' below to label -->
          <apex:commandButton value="Approve"
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], Nomination__c.Type__c == NomConstants['Level2SpotAward'])}"
            styleClass="btn experianGreen " 
            onclick="checkSpotApproved(); return false;"
            html-data-tooltip="tooltip"
            title="Approve this Spot Award for the Nominee."
          />

          
          <!-- BUTTON TO APPROVE A LEVEL 3 - INDIVIDUAL AWARD OR LEVEL 3 - TEAM AWARD MASTER - CHECKS THE H1/H2 FIELD FIRST -->
          <!-- TODO: Change 'Approve' below to label -->
          <apex:commandButton value="Approve"
            onclick="checkHalfYearH1orH2Field(); return false;"
            styleClass="btn experianGreen" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], OR(Nomination__c.Type__c == NomConstants['Level3Individual'], AND(Nomination__c.Type__c == NomConstants['Level3Team'],Nomination__c.Master_Nomination__c == null)))}"
            alt="Approve this Nomination"
            title="Approve this Nomination"
            html-data-tooltip="tooltip"
          />
          
          <!-- BUTTON TO APPROVE A LEVEL 3 - TEAM AWARD MEMBER -->
          <!-- TODO: Change 'Approve' below to label -->
          <apex:commandButton value="Approve"
            action="{!approveNomination}" 
            styleClass="btn experianGreen" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], Nomination__c.Type__c == NomConstants['Level3Team'], Nomination__c.Master_Nomination__c != null)}"
            alt="Approve this Nomination"
            title="Approve this Nomination"
            html-data-tooltip="tooltip"
          />
          
          <!-- TODO: Change below to labels -->
          <apex:commandButton value="Upgrade to Half Year"
            onclick="return false;" 
            html-data-toggle="modal"
            html-data-target="#upgradeToLevel3" 
            styleClass="btn experianPink" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], Nomination__c.Type__c == NomConstants['Level2SpotAward'], Nomination__c.Downgraded_to_Level_2__c == false)}"
            title="This Spot Award can be upgraded to a Half Year Nomination"
            alt="This Spot Award can be upgraded to a Half Year Nomination"
            html-data-tooltip="tooltip"
          />
          <!-- TODO: Change below to labels -->
          <apex:commandButton value="Downgrade to Spot Award" 
            onclick="return false;" 
            styleClass="btn experianDarkBlue" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], Nomination__c.Type__c == NomConstants['Level3Individual'], Nomination__c.Upgraded_to_Level_3__c == false)}"
            title="This Half Year Nomination can be downgraded to a Spot Award"
            alt="This Half Year Nomination can be downgraded to a Spot Award"
            html-data-tooltip="tooltip"
            html-data-toggle="modal"
            html-data-target="#downgradeIndivToSpotModal" 
          />
          <!-- TODO: Change below to labels -->
          <!-- DOWNGRADE TEAM TO SPOTS -->
          <apex:commandButton value="Downgrade to Spot Awards" 
            onclick="return false;"
            styleClass="btn experianDarkBlue" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], Nomination__c.Type__c == NomConstants['Level3Team'], Nomination__c.Master_Nomination__c == null)}"
            title="This Half Year Team Nomination can be downgraded to Spot Awards"
            alt="This Half Year Team Nomination can be downgraded to Spot Awards"
            html-data-tooltip="tooltip"
            html-data-toggle="modal"
            html-data-target="#downgradeTeamToSpotsModal"
          />
          <!-- TODO: Change below to label -->
          <apex:commandButton value="Reject with Badge" 
            styleClass="btn experianViolet" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], OR(Nomination__c.Type__c == NomConstants['Level2SpotAward'], Nomination__c.Type__c == NomConstants['Level3Individual'], AND(Nomination__c.Type__c == NomConstants['Level3Team'],Nomination__c.Master_Nomination__c == null)))}"
            title="This nomination can be downgraded to just a Profile Badge"
            alt="This nomination can be downgraded to just a Profile Badge"
            onclick="return false;"
            html-data-tooltip="tooltip"
            html-data-toggle="modal"
            html-data-target="#rejectBadgeModal"
          />
          <!-- TODO: Change 'Reject' below to label -->
          <apex:commandButton value="Reject"
            onclick="return false;" 
            styleClass="btn experianLightBlue"
            html-data-toggle="modal"
            html-data-target="#rejectionModal"
            rendered="{!Nomination__c.Status__c == NomConstants['PendingApproval']}"
            alt="Reject this Nomination"
            title="Reject this Nomination"
            html-data-tooltip="tooltip"
          />
          <apex:commandButton value="WON!" 
            onclick="return false;" 
            styleClass="btn experianLightBlue" 
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingPanelApproval'], OR(Nomination__c.Type__c == NomConstants['Level3Individual'], Nomination__c.Type__c == NomConstants['Level3Team']), $Permission.Recognition_Coordinator)}" 
            html-data-toggle="modal" 
            html-data-target="#wonModal"
            title="Only Recognition Coordinators can change this Approved Nomination to Won." 
            alt="Only Recognition Coordinators can change this Approved Nomination to Won."
          />
          <apex:commandButton value="Runner Up/Nominated" 
            onclick="return false;" 
            styleClass="btn experianViolet"
            rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingPanelApproval'], OR(Nomination__c.Type__c == NomConstants['Level3Individual'], Nomination__c.Type__c == NomConstants['Level3Team']), $Permission.Recognition_Coordinator)}" 
            html-data-toggle="modal" 
            html-data-target="#runnerUpModal"
            title="Only Recognition Coordinators can change this Approved Nomination to Nominated." 
            alt="Only Recognition Coordinators can change this Approved Nomination to Nominated."
          />
          <apex:commandButton value="VIEW" 
            onclick="window.open('/{!Nomination__c.Id}?nooverride=1', '_self'); return false;"
            rendered="{!OR($Permission.Administration_Profile,$Permission.Recognition_Data_Admin)}"
            styleClass="btn experianPink"
            alt="Only Administration Profiles or Recognition Coordinators can see this button. View the SFDC record directly."
            title="Only Administration Profiles or Recognition Coordinators can see this button. View the SFDC record directly."
            html-data-tooltip="tooltip"
          /><!-- $Permission.Recognition_Coordinator, -->
        </div>
      </div>
    </div>
    <!--  NEW ROW -->
    &nbsp;<br />
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <apex:outputPanel layout="block">
          <apex:outputPanel layout="block" rendered="{!errorMessages.size > 0}">
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span><apex:repeat value="{!errorMessages}" var="em">{!em}&nbsp;</apex:repeat>
            </div>
          </apex:outputPanel>
          <apex:outputPanel layout="block" rendered="{!successMessages.size > 0}">
            <div class="alert alert-success alert-block collapse in" role="alert" id="successMsgBlock">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span class="sr-only">Success:</span><apex:repeat value="{!successMessages}" var="em">{!em}&nbsp;</apex:repeat>
            </div>
            <script>
              setTimeout(function(){
                $j('#successMsgBlock').collapse('hide');
              }, 10000);
            </script>
          </apex:outputPanel>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Details</h3><!-- TODO: Change to label -->
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Type__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Type__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <h4><span class="label label-primary experianDarkBlue"><apex:outputField value="{!Nomination__c.Type__c}" /></span></h4>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group col-sm-6">
                      <div class="row {!IF(Nomination__c.Master_Nomination__c != null && Nomination__c.Type__c == NomConstants['Level3Team'],'','hide')}">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>Team Record</label> <!--  TODO: Custom label -->
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>Team Record</label> <!--  TODO: Custom label -->
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:outputField value="{!Nomination__c.Master_Nomination__c}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Status__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Status__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <h4><span class="label {!CASE(Nomination__c.Status__c,NomConstants['Won'],'label-success',NomConstants['Approved'],'label-success',NomConstants['Nominated'],'label-success',NomConstants['Rejected'],'label-danger',NomConstants['RejectedBadge'],'label-danger','label-warning')}"><apex:outputField value="{!Nomination__c.Status__c}" /><apex:outputPanel rendered="{!Nomination__c.Payroll_Award_Date__c != null}">&nbsp;(<apex:outputField value="{!Nomination__c.Payroll_Award_Date__c}" />)</apex:outputPanel></span></h4>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- Pending Approval Help Block -->
                <div class="help-block alert alert-warning {!IF(Nomination__c.Status__c != NomConstants['PendingApproval'],'hide','')}">
                  <p>Only the Nominee's manager can Approve or Reject this Nomination. Options are:</p>
                  <ul>
                    <li><b>Approve</b></li>
                    <li><b>Reject</b> - Notification is sent to the Nominator with the notes of the Rejection.</li>
                    <li>If Level 2, <b>Upgrade to Half Year</b> - Converts this to a Half Year Nomination. A notification is sent to the Nominator.</li>
                    <li>If Level 3, <b>Downgrade to Level 2</b> - Converts this to a spot Award. A notification is sent to the Manager for approval</li>
                    <li><b>WON</b> - This button if available, is for Recognition Coordinators to set the status of Half Year Nominations to Won.</li>
                    <li><b>Runner Up</b> -This button if available, is for Recognition Coordinators to set the status of Half Year Nominations to Runner up.</li>
                    
                  </ul>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row {!IF(AND(Nomination__c.Nominee__c == null,Nomination__c.Master_Nomination__c == null), 'hide','')}">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Nominee__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Nominee__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="media media-middle">
                              <div class="pull-left">
                                <apex:image styleClass="media-object userPhoto img-thumbnail" value="{!Nomination__c.Nominee__r.SmallPhotoUrl}" />
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><apex:outputField value="{!Nomination__c.Nominee__c}" /></h4><br />
                                <h6><apex:outputField value="{!Nomination__c.Nominee__r.Title}" /></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Requestor__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Requestor__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <div class="media media-middle">
                              <div class="pull-left">
                                <apex:image styleClass="media-object userPhoto img-thumbnail" value="{!Nomination__c.Requestor__r.SmallPhotoUrl}" />
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><apex:outputField value="{!Nomination__c.Requestor__c}" /></h4><br />
                                <h6><apex:outputField value="{!Nomination__c.Requestor__r.Title}" /></h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row {!IF(Nomination__c.Project_Sponsor__c != null && Nomination__c.Type__c == NomConstants['Level3Team'], '','hide')}">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Project_Sponsor__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Project_Sponsor__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <div class="media media-middle">
                              <div class="pull-left">
                                <apex:image styleClass="media-object userPhoto img-thumbnail" value="{!Nomination__c.Project_Sponsor__r.SmallPhotoUrl}" />
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading"><apex:outputField value="{!Nomination__c.Project_Sponsor__c}" /></h4><br />
                                <h6><apex:outputField value="{!Nomination__c.Project_Sponsor__r.Title}" /></h6>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                      <div class="row {!IF(Nomination__c.Type__c == NomConstants['Level3Team'],'','hide')}">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Team_Name__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Team_Name__c.label}</label>
                        </div>
                          <div class="col-xs-12 col-sm-8">
                            <apex:outputField value="{!Nomination__c.Team_Name__c}" />
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-xs-12">
                      <div class="row">
                        <div class="col-sm-2 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Justification__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Justification__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-10">
                        <blockquote>
                          <p><apex:outputField value="{!Nomination__c.Justification__c}" /></p>
                        </blockquote>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="row {!IF(OR(Nomination__c.Type__c == NomConstants['Level3Team'], Nomination__c.Type__c == NomConstants['Level3Individual']),'','hide')}">                 
                    <div class="form-group col-sm-6" id="halfYearTypeField">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.H1_or_H2__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.H1_or_H2__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:inputField id="halfYearType" styleClass="form-control" value="{!currentRecord.H1_or_H2__c}" rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], OR($User.Id == Nomination__c.OwnerId, $Permission.Recognition_Coordinator), OR(AND(Nomination__c.Type__c == NomConstants['Level3Team'], Nomination__c.Master_Nomination__c == null), Nomination__c.Type__c == NomConstants['Level3Individual']))}"/>
                          <apex:outputField value="{!Nomination__c.H1_or_H2__c}" rendered="{!NOT(AND(Nomination__c.Status__c == NomConstants['PendingApproval'], OR($User.Id == Nomination__c.OwnerId, $Permission.Recognition_Coordinator), OR(AND(Nomination__c.Type__c == NomConstants['Level3Team'], Nomination__c.Master_Nomination__c == null), Nomination__c.Type__c == NomConstants['Level3Individual'])))}"/>
                        </div>
                        <div class="help-block field-help-block alert alert-danger hide col-sm-offset-4 col-xs-12 col-sm-8" role="alert">Please select either H1 or H2.</div><!--  TODO: Change to label, same on NominationNew page -->
                      </div>
                    </div>
                  </div>
                  <div class="row {!IF(CONTAINS(Nomination__c.Status__c,'Reject'),'','hide')}">
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:outputField value="{!Nomination__c.Rejection_Reason__c}" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:outputField value="{!Nomination__c.Notes__c}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Category__c.label}</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>{!$ObjectType.Nomination__c.fields.Category__c.label}</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:inputField value="{!currentRecord.Category__c}" styleClass="form-control" rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], $User.Id == Nomination__c.OwnerId)}" />
                          <apex:outputField value="{!Nomination__c.Category__c}" rendered="{!NOT(AND(Nomination__c.Status__c == NomConstants['PendingApproval'], $User.Id == Nomination__c.OwnerId))}" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <div class="row">
                        <div class="col-sm-4 text-right hidden-xs">
                          <label>Reference Number</label>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          <label>Reference Number</label>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                          <apex:outputField value="{!Nomination__c.Name}" />
                        </div>
                      </div>
                    </div>                 
                  
                  <div class="form-group col-sm-6">
                    <div class="row">
                      <div class="col-sm-4 text-right hidden-xs">
                        <label>{!$ObjectType.Nomination__c.fields.CreatedDate.label}</label>
                      </div>
                      <div class="col-xs-12 visible-xs">
                        <label>{!$ObjectType.Nomination__c.fields.CreatedDate.label}</label>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <apex:outputField value="{!Nomination__c.CreatedDate}" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4 text-right hidden-xs">
                        <label>{!$ObjectType.Nomination__c.fields.LastModifiedDate.label}</label>
                      </div>
                      <div class="col-xs-12 visible-xs">
                        <label>{!$ObjectType.Nomination__c.fields.LastModifiedDate.label}</label>
                      </div>
                      <div class="col-xs-12 col-sm-8">
                        <apex:outputField value="{!Nomination__c.LastModifiedDate}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  SPOT AWARD SPECIFIC INFORMATION -->
          <div class="panel panel-default {!IF(Nomination__c.Type__c == NomConstants['Level2SpotAward'],'','hide')}">
            <div class="panel-heading">
              <h3 class="panel-title">Spot Award Details</h3><!-- TODO: Change to label? -->
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="row">
                  <div class="form-group col-xs-12" id="spotAwardField"> 
                    <div class="row">
                      <div class="col-sm-2 text-right hidden-xs">
                        <label>{!$ObjectType.Nomination__c.fields.Spot_Award_Amount__c.label}</label>
                      </div>
                      <div class="col-xs-12 visible-xs">
                        <label>{!$ObjectType.Nomination__c.fields.Spot_Award_Amount__c.label}</label>
                      </div>
                      <apex:outputPanel layout="block" styleClass="col-sm-10">
                        <!--<apex:inputField value="{!currentRecord.Spot_Award_Amount__c}" id="spotAwardAmount" styleClass="form-control" rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], $User.Id == Nomination__c.OwnerId)}" />-->
                        <apex:inputField value="{!currentRecord.Spot_Award_Amount__c}" id="spotAwardAmount" styleClass="form-control" rendered="{!AND(Nomination__c.Status__c == NomConstants['PendingApproval'], OR($User.Id == Nomination__c.OwnerId, $Permission.Recognition_Coordinator))}" />
                        <apex:outputField value="{!Nomination__c.Spot_Award_Amount__c}" rendered="{!NOT(AND(Nomination__c.Status__c == NomConstants['PendingApproval'],OR($User.Id == Nomination__c.OwnerId, $Permission.Recognition_Coordinator)))}" />
                      </apex:outputPanel>
                    </div>
                    <div class="help-block field-help-block alert alert-danger hide col-sm-offset-2 col-sm-10" role="alert">Please choose a spot award amount.</div><!--  TODO: Change to label, same on NominationNew page -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          <!-- SHOW A TABLE OF NOMINATIONS -->
          <div class="panel panel-default {!IF(AND(Nomination__c.Type__c == NomConstants['Level3Team'],Nomination__c.Master_Nomination__c == null),'','hide')}">
            <div class="panel-heading"><!--  TODO: Labels needed here -->
              <h3 class="panel-title">Team Members: {!ChildNominations.size}, Approved: {!Nomination__c.Team_Total__c}</h3>
            </div>
            <div class="panel-body">
              <div class="">
                <apex:dataTable value="{!ChildNominations}" var="m" styleClass="table table-striped">
                  <apex:column headerValue="Action">
                    <apex:outputLink value="{!URLFOR($Action.Nomination__c.View,m.Id)}">View</apex:outputLink>
                  </apex:column>
                  <apex:column headerValue="">
                    <apex:image value="{!m.Nominee__r.SmallPhotoUrl}" style="width:32px; height:32px;" />
                  </apex:column>
                  <apex:column headerValue="Member">
                    <apex:outputField value="{!m.Nominee__c}" />
                  </apex:column>
                  <apex:column headerValue="Title" >
                    <apex:outputField style="vertical-align: middle;" value="{!m.Nominee__r.Title}" />
                  </apex:column>
                  <apex:column headerValue="Status">
                    <apex:outputField style="vertical-align: middle;" value="{!m.Status__c}" />
                  </apex:column>
                  <apex:column headerValue="Manager">
                    <apex:outputField style="vertical-align: middle;" value="{!m.Nominees_Manager__r.Name}" />
                  </apex:column>
                  <apex:column headerValue="Date">
                    <apex:outputField style="vertical-align: middle;" value="{!m.Manager_Approved_Date__c}" />
                  </apex:column>
                </apex:dataTable>
              </div>
            </div>
          </div>
        </apex:outputPanel>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="panel panel-default {!IF(Nomination__c.Status__c == NomConstants['PendingApproval'],'','hide')}">
          <div class="panel-heading panel-pending-approval">
            <h3 class="panel-title">{!Nomination__c.Status__c}</h3>
          </div>
          <div class="panel-body">
            <div class="media media-middle">
              <div class="pull-left">
                <apex:image styleClass="media-object userPhoto img-thumbnail" value="{!ownerDetails.SmallPhotoUrl}" />
              </div>
              <div class="media-body">
                <h4 class="media-heading"><apex:outputField value="{!Nomination__c.OwnerId}" /></h4><br />
                <h6><apex:outputField value="{!ownerDetails.Title}" /></h6>
              </div>
            </div>
          </div>
          &nbsp;<br />
        </div>
        
        <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(Nomination__c.Master_Nomination__c != null,Nomination__c.Type__c == NomConstants['Level3Team'])}">
          <div class="panel-heading">
            <h3 class="panel-title">Other Team Members</h3><!-- TODO: Convert to Custom Label -->
          </div>
          <div class="panel-body">
            <apex:repeat value="{!OtherTeamNominations}" var="tm">
              <div class="media media-middle">
                <div class="pull-left">
                  <apex:image styleClass="media-object userPhoto img-thumbnail" value="{!tm.Nominee__r.SmallPhotoUrl}" />
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><apex:outputField value="{!tm.Nominee__c}" /><span class="badge pull-right ">{!tm.Status__c}</span></h4><br />
                  <h6><apex:outputField value="{!tm.Nominee__r.Title}" /></h6>
                </div>
              </div>
            </apex:repeat>
          </div>
          &nbsp;<br />
        </apex:outputPanel>
        
        <div class="panel panel-default {!IF(Nomination__c.Badge__c == null,'hide','')}">
          <div class="panel-heading">
            <h3 class="panel-title">{!$ObjectType.Nomination__c.fields.Recognition_Category__c.label}</h3>
          </div>
          <div class="panel-body">
            <div class="thumbnail">
              <img src="{!Nomination__c.Badge__r.ImageUrl}" alt="{!Nomination__c.Badge__r.Name}: {!Nomination__c.Badge__r.Description}" />
              <div class="caption">
                <h3><apex:outputField value="{!Nomination__c.Badge__r.Name}" /></h3>
                <p><apex:outputField value="{!Nomination__c.Badge__r.Description}" /></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- WON Modal -->
    <div class="modal fade" id="wonModal" tabindex="-1" role="dialog" aria-labelledby="wonBadgeLabel" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="wonBadgeLabel">Update to Won</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to update this Nomination to Won?</p><!-- TODO: Add label -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <apex:commandButton id="wonNomBtn" action="{!wonNomination}" value="Yes" styleClass="btn btn-primary experianDarkBlue"  onclick="setTimeout('document.getElementById(\''+this.id+'\').className=\'btn experianPink\';', 1);  setTimeout('document.getElementById(\''+this.id+'\').disabled=true;', 50);"/><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    
    <!-- DOWNGRADE TO SPOTS FROM L3 TEAM -->
    <div class="modal fade" id="downgradeTeamToSpotsModal" tabindex="-1" role="dialog" aria-labelledby="downgradeTeamToSpotsModalLabel" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="downgradeTeamToSpotsModalLabel">Downgrade Team Nomination to Spot Awards</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to downgrade this Team Nomination to Spot Awards?</p><!-- TODO: Add label -->
            <div class="form-horizontal" role="form">
              <div class="row">
                <div class="form-group col-xs-12 rejectReasonFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control rejectReasonField">
                        <option value="0">Choose...</option> <!-- TODO: Change to Label? -->
                        <apex:repeat value="{!rejectReasons}" var="r">
                          <option value="{!r.val}">{!r.label}</option>
                        </apex:repeat>
                      </select>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please choose a reason for the rejection.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 rejectNotesFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <textarea class="form-control rejectNotesField" rows="5"></textarea>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please add some notes about the rejection. There must be more than 1 word.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <button type="button" class="rejectButton btn btn-primary experianDarkBlue" onclick="checkReject('downgradeTeam');">Downgrade</button><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    <!-- DOWNGRADE TO SPOT FROM L3 IND -->
    <div class="modal fade" id="downgradeIndivToSpotModal" tabindex="-1" role="dialog" aria-labelledby="downgradeIndivToSpotModalLabel" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="downgradeIndivToSpotModalLabel">Downgrade Nomination to Spot Award</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to downgrade this nomination to a Spot Award?</p><!-- TODO: Add label -->
            <div class="form-horizontal" role="form">
              <div class="row">
                <div class="form-group col-xs-12 rejectReasonFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control rejectReasonField">
                        <option value="0">Choose...</option> <!-- TODO: Change to Label? -->
                        <apex:repeat value="{!rejectReasons}" var="r">
                          <option value="{!r.val}">{!r.label}</option>
                        </apex:repeat>
                      </select>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please choose a reason for the rejection.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 rejectNotesFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <textarea class="form-control rejectNotesField" rows="5"></textarea>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please add some notes about the rejection. There must be more than 1 word.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <button type="button" class="rejectButton btn btn-primary experianDarkBlue" onclick="checkReject('downgradeIndiv');">Downgrade</button><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    <!-- Rejection Modal - STANDARD -->
    <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Reject Nomination</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <div class="form-horizontal" role="form">
              <div class="row">
                <div class="form-group col-xs-12 rejectReasonFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control rejectReasonField">
                        <option value="0">Choose...</option> <!-- TODO: Change to Label? -->
                        <apex:repeat value="{!rejectReasons}" var="r">
                          <option value="{!r.val}">{!r.label}</option>
                        </apex:repeat>
                      </select>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please choose a reason for the rejection.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 rejectNotesFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <textarea class="form-control rejectNotesField" rows="5"></textarea>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please add some notes about the rejection. There must be more than 1 word.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <button type="button" class="rejectButton btn btn-primary experianDarkBlue" onclick="checkReject('justReject');">Reject</button><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    <!-- Reject with Badge Modal -->
    <div class="modal fade" id="rejectBadgeModal" tabindex="-1" role="dialog" aria-labelledby="rejectBadgeLabel" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="rejectBadgeLabel">Reject Nomination with a Badge</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to reject this nomination with a Badge? This will add the Recognition Category Badge to the Nominee's profile, and reject this nomination.</p><!-- TODO: Add label -->
            <div class="form-horizontal" role="form">
              <div class="row">
                <div class="form-group col-xs-12 rejectReasonFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Rejection_Reason__c.label}</label>
                    </div>
                    <div class="col-sm-9">
                      <select class="form-control rejectReasonField">
                        <option value="0">Choose...</option> <!-- TODO: Change to Label? -->
                        <apex:repeat value="{!rejectReasons}" var="r">
                          <option value="{!r.val}">{!r.label}</option>
                        </apex:repeat>
                      </select>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please choose a reason for the rejection.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 rejectNotesFieldGroup">
                  <div class="row">
                    <div class="col-sm-3 text-right hidden-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 visible-xs">
                      <label>{!$ObjectType.Nomination__c.fields.Notes__c.label}</label>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <textarea class="form-control rejectNotesField" rows="5"></textarea>
                      <div class="help-block field-help-block alert alert-danger hide" role="alert">Please add some notes about the rejection. There must be more than 1 word.</div><!-- TODO: Add label -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <button type="button" class="rejectButton btn btn-primary experianDarkBlue" onclick="checkReject('rejectBadge');">Reject</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Upgrade to Level 3 - Indiv -->
    <div class="modal fade" id="upgradeToLevel3" tabindex="-1" role="dialog" aria-labelledby="" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Upgrade to Half Year Nomination</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to upgrade this nomination to a Level 3 - Half Year Nomination? </p><!-- TODO: Add label -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <apex:commandButton id="upgradeToL3Btn" action="{!upgradeToLevel3Ind}" value="Yes" styleClass="btn btn-primary experianDarkBlue"  onclick="setTimeout('document.getElementById(\''+this.id+'\').className=\'btn experianPink\';', 1);  setTimeout('document.getElementById(\''+this.id+'\').disabled=true;', 50);"/><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    <!-- RUNNER UP NOMINATION -->
    <div class="modal fade" id="runnerUpModal" tabindex="-1" role="dialog" aria-labelledby="" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Update to Nominated</h4><!-- TODO: Add label -->
          </div>
          <div class="modal-body">
            <p>Are you sure you want to update this Nomination to Nominated?</p><!-- TODO: Add label -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{!$Label.Cancel}</button>
            <apex:commandButton id="runnerUpBtn" action="{!runnerUpNomination}" value="Yes" styleClass="btn btn-primary experianDarkBlue"  onclick="setTimeout('document.getElementById(\''+this.id+'\').className=\'btn experianPink\';', 1);  setTimeout('document.getElementById(\''+this.id+'\').disabled=true;', 50);" /><!-- TODO: Add label -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">History</h4><!-- TODO: Add label -->
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <apex:dataTable value="{!NominationHistory}" var="h" styleClass="table table-condensed table-bordered table-striped">
              <apex:column value="{!h.createdDateStr}" headerValue="Date" /><!-- TODO: Add label -->
              <apex:column value="{!h.createdBy}" headerValue="User" /><!-- TODO: Add label -->
              <apex:column headerValue="Action">
                <apex:outputText rendered="{!h.fieldApiName == 'created'}" value="Created." /><!-- TODO: Add label -->
                <apex:outputText rendered="{!h.fieldApiName != 'created'}" value="Changed <b>{0}</b> from {1} to <b>{2}</b>" escape="false"><!-- TODO: Add label -->
                  <apex:param value="{!h.FieldLabel}" />
                  <apex:param value="{!h.OldValue}" />
                  <apex:param value="{!h.NewValue}" />
                </apex:outputText>
              </apex:column>
            </apex:dataTable>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <hr />

  </apex:form>
  <script>

  var checkReject = function (dialogOption) {
    $j('.has-error').removeClass('has-error');
    $j('.field-help-block').addClass('hide');
    var modalId = '#rejectionModal';
    var submitFunc = function() {submitReject();};
    if (dialogOption !== undefined) {
      if (dialogOption === 'justReject') {
        modalId = '#rejectionModal';
        submitFunc = function() {submitReject();};
      }
      if (dialogOption === 'rejectBadge') {
        modalId = '#rejectBadgeModal';
        submitFunc = function() {submitRejectWithBadge();};
      }
      if (dialogOption === 'downgradeIndiv') {
        modalId = '#downgradeIndivToSpotModal';
        submitFunc = function() {submitDowngradeToLevel2();};
      }
      if (dialogOption === 'downgradeTeam') {
        modalId = '#downgradeTeamToSpotsModal';
        submitFunc = function() {submitDowngradeTeamToLevel2();};
      }
    }
    var reasonField = $j(modalId + ' .rejectReasonField');
    var notesField = $j(modalId + ' .rejectNotesField');
    var rejectButton = $j(modalId + ' .rejectButton');
    
    $j(rejectButton).removeAttr('disabled');
    
    if (reasonField.find(':selected').val() === "" || reasonField.find(':selected').val() === "0") {
      $j(modalId).find('.rejectReasonFieldGroup').addClass('has-error').find('.field-help-block').removeClass('hide');
    }
    
    
    // If 'Other' reason is selected, then require a notes entry too!
    if (reasonField.find(':selected').val() === "{!NomConstants['OtherReason']}") {
      if (notesField.val() === "") {
        $j(modalId).find('.rejectNotesFieldGroup').addClass('has-error').find('.field-help-block').removeClass('hide');
      }
      else {
        if (notesField.val() !== "" && notesField.val().length < 6) {
          $j('#rejectNotesField').addClass('has-error').find('.field-help-block').removeClass('hide');
        }
      }
    }
    if ($j(modalId).find('.rejectReasonFieldGroup').hasClass('has-error') === false && 
        $j(modalId).find('.rejectNotesFieldGroup').hasClass('has-error') === false) {
      $j(rejectButton).attr('disabled', 'disabled');
      $j(rejectButton).removeClass('experianDarkBlue').addClass('experianPink');
      $j('[id$=rejectReason]').val(reasonField.find(':selected').val());
      $j('[id$=rejectNotes]').val(notesField.val());
      // set the inputHiddens to pull the data back to the extension.
      submitFunc();
    }
  };
  
  var checkHalfYearH1orH2Field = function() {
      //alert('1 ' );
    $j('.has-error').removeClass('has-error');
    //alert('2 ' );
    $j('.field-help-block').addClass('hide');
    //alert('3 ' );
    if ($j('[id$=halfYearType]').val() !== undefined) {
       // alert('4 ' );
      if ($j('[id$=halfYearType]').val() === "") {
         // alert('5' );
        $j('#halfYearTypeField').addClass('has-error').find('.field-help-block').removeClass('hide');
        $j('html, body').animate({
          scrollTop: $j("#halfYearTypeField").offset().top
          }, 2000
        );
      }
      else {
        submitApprove();
      }
    }
    else {
      // Maybe present an error here?
    }
  };
  
  var checkSpotApproved = function() {
      //alert('1 ' );
    $j('.has-error').removeClass('has-error');
    //alert('2');
    $j('.field-help-block').addClass('hide');
    //alert('3');
    if ($j('[id$=spotAwardAmount]').val() !== undefined) {
        //alert('4');
      if ($j('[id$=spotAwardAmount]').val() === "") {
          //alert('5');
        $j('#spotAwardField').addClass('has-error').find('.field-help-block').removeClass('hide');
        $j('html, body').animate({
          scrollTop: $j("#spotAwardField").offset().top
          }, 2000
        );
      }
      else {
          var retVal = confirm("Warning: Duplicate awards may be cancelled. Please make sure you have not "+
                "awarded this individual a monetary award already for this work, and consider if a badge would be more appropriate." + 
                " If in doubt, please seek additional budgetary approval.");
          if(retVal == true)
            submitApprove();
          else
            return false;
          }
    }
    else {
      
    }
  };
  $j().ready(function(){
    $j('[data-tooltip="tooltip"]').tooltip();
  });
  
  
  </script>
</apex:page>