<!-- 
/**=====================================================================
 * Experian GCSS
 * Name: OppAccSegDetails
 * Description: S-0014 - Page Section Details displaying Business Unit Fields for NA CS Automotive on Infinity Opportunities.
 * 
 
 *
 * Date Modified            Modified By            Description of the update
 * December 8, 2015         William Hemmerick      Created
 
 ======================================================================*/
 -->


<apex:page pageStyle="" applyHtmlTag="false" standardController="Opportunity" showHeader="false" sidebar="false" standardStylesheets="true">

 <apex:pageBlock mode="detail">
 <apex:pageBlockSection collapsible="FALSE"  showHeader="False" title="{!opportunity.Segment_Business_Unit__r.Name} Details" >    


    <apex:repeat value="{!$ObjectType.Opportunity.FieldSets.NA_CS_Automotive}" var="f">
        <apex:outputField value="{!Opportunity[f]}" />
    </apex:repeat>




 </apex:pageBlockSection> 
 
</apex:pageblock>

</apex:page>