<apex:page standardController="account"> 
<savo_classic:Header ></savo_classic:Header> 

<savo_classic:Html title="{!$Label.SAVO_Account_Title_Recommended_Assets}">
                <ul>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=33404717');">{!$Label.SAVO_Account_Core_Capabilities}</a></li> 
                </ul>  
</savo_classic:Html>
<savo_classic:List title="{!$Label.SAVO_Account_Title_Suggested_Content}" tags="SFDC suggested content" assetTypes="xls,pdf,doc,ppt,cp" recordDownloads="True" numResults="5"> </savo_classic:List>
<savo_classic:Search numResults="5" >  </savo_classic:Search> 

<savo_classic:Html title="{!$Label.SAVO_Account_Title_FUSE}">
                <ul> 
                    <li><a href="#" onclick="window.open('http://zoomglobal/services/discoverexperian/pages/howwehelpourclients.aspx');">{!$Label.SAVO_Account_Explore_Discover_Experian}</a></li>
                    <li><a href="#" onclick="window.open('/a0E/e?retURL=%2Fa0E%2Fo');">{!$Label.SAVO_Account_Request_Bid_Support}</a></li>
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/Search/Search.aspx?criteria=&t=1053548');">{!$Label.SAVO_Account_Case_Studies} </a></li> 
                    <li><a href="#" onclick="window.open('https://www.gosavo.com/ExperianFUSE/CustomPage/View.aspx?id=1635885');">{!$Label.SAVO_Account_Review_Sales_Stage_criteria}</a></li>
                    <li><a href="#" onclick="window.open('http://express/xforms/nt/corpfinance/salesshare/request.aspx');">{!$Label.SAVO_Account_Submit_a_SalesShare_lead}</a></li>
                </ul> 
</savo_classic:Html>


</apex:page>