<apex:component controller="expcommunity_News_ctrl">

  <apex:attribute name="application" description="application" type="String" assignTo="{!appName}"/>  

  <apex:outputPanel id="SearchRows" rendered="{!findFeature}">
  <div id="news" class=" section__row news-section slds-size--1-of-1 slds-clearfix" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  
        <div class="section-row__wrapper">
            <div class= "news__left right-wrapper__child slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 slds-float--left">
                <div class="news-left__wrapper slds-float--right">
                <div class="news__thumb slds-size--1-of-4 slds-float--left slds-m-bottom--large"><a href=""><img class="slds-p-right--small" src="http://zoomglobal/company/PublishingImages/AsiaPacific/_w/Building%20blocks_jpg.jpg" /></a></div>
                    <div class="news-left__title news--headline slds-m-bottom--large"><span>{!featured[0].Headline__c}</span></div>
                    <div class="news--detail slds-hide">{!featured[0].Detail__c}</div>
                    <div class="news-left__body">
                       {!featured[0].Synopsis__c}<br/>
                        <a class="news--btn slds-m-top--large more__btn" href="javascript:;"><div class="expcommunity__button slds-text-link--reset slds-p-around--medium" aria-live="assertive">Read more ></div></a>
                        
                    </div>
                </div>
            </div>
            <div class= "news__right slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-2 slds-float--left">
                <div id="news1" class="news__sub news__sub--shady  slds-clearfix">
                <apex:outputPanel layout="block" rendered="{!If(articleNum>0, true, false)}" >
                    <div class="news-sub__wrapper">
                        <div class="news__thumb slds-size--1-of-4 slds-float--left slds-m-bottom--large"><a class="news__img" href="javascript:;"><img class="slds-p-right--small" src="http://zoomglobal/company/PublishingImages/AsiaPacific/_w/OYWthumbg-Oct2015_jpg.jpg" /></a></div>
                        <div class="news__text slds-float--right slds-size--3-of-4">
                            <div class="news-sub__title news--headline slds-text-heading--medium slds-m-bottom--large purple__text"><a class="slds-text-link--reset more__header" href="javascript:;">{!articles[0].Headline__c}</a></div>
                            <div class="news--detail slds-hide">{!articles[0].Detail__c}</div>
                            <div class="news-sub__preview slds-show"></div>
                            <div class="news-sub__body slds-hide">
                                <span>{!articles[0].Synopsis__c}</span><br/><a class="more__btn" href="javascript:;">Read More...</a>
                            </div>
                            <!-- Icons-->
                            <div class="news-sub__more slds-m-top--medium slds-float--right">
                                <span class="more slds-icon_container slds-icon-utility-user" title="More">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">More</span>
                                </span>
                                
                                <span class="less slds-icon_container slds-icon-utility-user slds-hide" title="Less">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#dash')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">Less</span>
                                </span>
                            </div>  
                        </div>
                        
                    
                    </div>
                    </apex:outputPanel>
                </div>
                
                <div id="news2" class="news__sub">
                <apex:outputPanel layout="block" rendered="{!If(articleNum>1, true, false)}" >
                    <div class="news-sub__wrapper">
                        <div class="news__thumb slds-size--1-of-4 slds-float--left slds-m-bottom--large"><a class="news__img" href="javascript:;"><img class="slds-p-right--small" src="http://zoomglobal/company/Global%20news%20images/112014/_w/top100_jpg.jpg" /></a></div>
                        <div class="news__text slds-size--3-of-4 slds-float--right">
                            <div class="news-sub__title news--headline slds-text-heading--medium slds-m-bottom--large purple__text"><a class="slds-text-link--reset more__header" href="javascript:;">{!articles[1].Headline__c}</a></div>
                            <div class="news--detail slds-hide">{!articles[1].Detail__c}</div>
                            <div class="news-sub__preview slds-show"></div>
                            <div class="news-sub__body slds-hide">
                                <span>{!articles[1].Synopsis__c}</span><br/><a class="more__btn" href="javascript:;">Read More...</a>
                            </div>
                        
                            <!-- Icons-->
                            <div class="news-sub__more slds-m-top--medium slds-float--right">
                                <span class="more slds-icon_container slds-icon-utility-user" title="More">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">More</span>
                                </span>
                                
                                <span class="less slds-icon_container slds-icon-utility-user slds-hide" title="Less">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#dash')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">Less</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    </apex:outputPanel>
                </div>
                
                
                

                <div id="news3" class="news__sub news__sub--shady  slds-clearfix">
                <apex:outputPanel layout="block" rendered="{!If(articleNum>2, true, false)}" >
                    <div class="news-sub__wrapper">
                        <div class="news__thumb slds-size--1-of-4 slds-float--left slds-m-bottom--large"><a class="news__img" href="javascript:;"><img class="slds-p-right--small" src="http://zoomglobal/company/uk/PublishingImages/_w/client-engagement-champions_jpg.jpg" /></a></div>
                        <div class="news__text slds-float--right slds-size--3-of-4">
                            <div class="news-sub__title news--headline slds-text-heading--medium slds-m-bottom--large purple__text"><a class="slds-text-link--reset more__header" href="javascript:;">{!articles[2].Headline__c}</a></div>                               
                            <div class="news--detail slds-hide">{!articles[2].Detail__c}</div>                                  
                            <div class="news-sub__preview slds-show"></div>
                            <div class="news-sub__body slds-hide">
                                <span>{!articles[2].Synopsis__c}</span><br/><a class="more__btn" href="javascript:;">Read More...</a>
                            </div>
                            <!-- Icons-->
                            <div class="news-sub__more slds-m-top--medium slds-float--right">
                                <span class="more slds-icon_container slds-icon-utility-user" title="More">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">More</span>
                                </span>
                                
                                <span class="less slds-icon_container slds-icon-utility-user slds-hide" title="Less">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#dash')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">Less</span>
                                </span>
                            </div>  
                        </div>
                        
                    
                    </div>
                  </apex:outputPanel>
                </div>
                
                
                <div id="news4" class="news__sub news__sub--shady  slds-clearfix">
                <apex:outputPanel layout="block" rendered="{!If(articleNum>3, true, false)}" >
                    <div class="news-sub__wrapper">
                        <div class="news__thumb slds-size--1-of-4 slds-float--left slds-m-bottom--large"><a class="news__img" href="javascript:;"><img class="slds-p-right--small" src="http://zoomglobal/company/uk/PublishingImages/_w/client-engagement-champions_jpg.jpg" /></a></div>
                        <div class="news__text slds-float--right slds-size--3-of-4">
                            <div class="news-sub__title news--headline slds-text-heading--medium slds-m-bottom--large purple__text"><a class="slds-text-link--reset more__header" href="javascript:;"> {!articles[3].Headline__c}</a></div>                               
                            <div class="news--detail slds-hide">{!articles[3].Detail__c}</div>                                  
                            <div class="news-sub__preview slds-show"></div>
                            <div class="news-sub__body slds-hide">
                                <span>{!articles[3].Synopsis__c}</span><br/><a class="more__btn" href="javascript:;">Read More...</a>
                            </div>
                            <!-- Icons-->
                            <div class="news-sub__more slds-m-top--medium slds-float--right">
                                <span class="more slds-icon_container slds-icon-utility-user" title="More">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#add')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">More</span>
                                </span>
                                
                                <span class="less slds-icon_container slds-icon-utility-user slds-hide" title="Less">
                                  <svg aria-hidden="true" class="slds-icon slds-icon--small purple-block__icon">
                                    <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#dash')}"></use>
                                  </svg>
                                  <span class="slds-assistive-text">Less</span>
                                </span>
                            </div>  
                        </div>
                        
                    
                    </div>
                    </apex:outputPanel>
                </div>
                
                
                
            </div>
        </div>
    </div>
    
    
    <div id="screen" class="">
        <div class="slds-p-bottom--x-large slds-p-horizontal--x-large" id="paper">
            <span class="xclose slds-p-top--medium slds-p-around--small">x</span>
            <div style="clear:both;"></div>
            <div class="news-sub__title slds-p-around--large" id="headline"></div>
            <div class="news-left__body slds-p-around--large" id="detail"></div>
        </div>
    </div>

    </apex:outputPanel>
    



</apex:component>