<apex:component id="the41stContent">
<apex:outputText id="the41stContentOUTX" >
<image url="/FraudAndIdentity/servlet/servlet.ImageServer?id=015e0000000Moog&oid=00De0000005W137"/>
<img src="/s.gif" height='1' width='1' alt="Content Starts Here"/><br/>
<p style="color:#3C80BB;font-family: arial,helvetica,sans-serif;font-size: 20px;">Welcome to the New Unified Fraud and Identity Customer Community</p>

<div><p style="font-size:16px;color:#51606E;font-family: arial,helvetica,sans-serif;">This is your one-stop resource center for all FraudNet ticket issues and requests for assistance or enhancements.The community is a password protected site with 24/7 direct online access to the information you need to be successful. We hope you find the Community useful and welcome feedback or suggestions for improvement.<br/>
Below are standard response times based on Priority specified and SLA requirements.</p></div>
<table border="1" cellpadding="1" cellspacing="1" style="height: 157px; width: 567px;">
    <tr style="font-size: 16px;font-family: arial,helvetica,sans-serif;font-weight:bold;color:#51606E;">
        <th>Priority</th>
        <th>Time to Respond</th></tr>
        <tr style="font-size: 16px;font-family: arial,helvetica,sans-serif;font-weight:bold;color:#51606E;">
            <td>Urgent (System Down or Inaccessible)</td>
            <td style="color: rgb(0, 153, 255);"> Within 15 Minutes</td>
        </tr>
        <tr style="font-size: 16px;font-family: arial,helvetica,sans-serif;font-weight:bold;color:#51606E;">
            <td>High (System Latency or Processing Delays)</td>
            <td style="color: rgb(0, 153, 255);">Within 2 Business Hours</td></tr>
        <tr style="font-size: 16px;font-family: arial,helvetica,sans-serif;font-weight:bold;color:#51606E;">
            <td>Medium/Low</td>
            <td style="color: rgb(0, 153, 255);">Within 1 Business Day</td></tr>
</table>

<p style="color:#51606E;font-size: 16px;font-family: arial,helvetica,sans-serif;">If you have a request that is Urgent or High and you have not received a response from our team within the above guidelines you may reach us at the numbers below:</p>

<table border="0" cellpadding="1" cellspacing="0" style="width: 400px;color:#51606E;font-size: 16px;font-family: arial,helvetica,sans-serif;">
<tr>
<td colspan="2"><a href="mailto:oncallsupport@the41st.com">The 41st Parameter Customer Experience Team</a>  
</td>
</tr>
<tr><td>US/Canada Toll Free:</td><td>1-877-411-4178</td></tr>
<tr><td>UK Toll Free:</td><td>0-800-014-8401</td></tr>
<tr><td>Australia Toll Free:</td><td>1-800-676-097</td></tr>
<tr><td>UAE Toll Free</td><td>8000-3570-2843</td></tr>
<tr><td>Germany Toll Free</td><td>0800-180-2501</td></tr>
<tr><td>Japan Toll Free</td><td>0120-934-745</td></tr>
<tr><td>Spain Toll Free</td><td>900-809730</td></tr>
<tr><td>Sweden Toll Free</td><td>020-796-641</td></tr>
</table>
<!--h2 style="color:#3C80BB;font-family: arial,helvetica,sans-serif;font-size: 18px;">Fraud Bulletin</h2>
<p style="font-size:16px;color:#51606E;font-family: arial,helvetica,sans-serif;">Coming Soon</p>
<h2 style="color:#3C80BB;font-family: arial,helvetica,sans-serif;font-size: 18px;">Upcoming Community Features</h2>
<ul style="font-size:16px;color:#51606E;font-family: arial,helvetica,sans-serif;">
    <li>Knowledge Base and FAQ&#39;s</li>
    <li>User Guides and Release Notes</li>
    <li>Fraud Bulletins</li>
</ul-->

</apex:outputText>
</apex:component>